.div-board-content-wrapper {
    display: flex;
    border-top : 1px solid #DCDEE1;
    border-bottom : 1px solid #DCDEE1;
    align-items: center;
    padding: 5px;
    height: 110px;
    width : 70vw;
    max-width: 800px;
    min-width: 450px;
    
}

.div-reply {
    display : flex;
    justify-content: center;
    flex-direction: column;
    border : 1px solid #DCDEE1;
    width: 75px;
    height: 75px;
    border-radius: 5px;
    text-align: center;
    font-size: small;
}

.div-write-info {
    display: flex;
    font-size: smaller;
}
.div-writer {
    font-weight: bold;
}
.div-writer:hover {
    cursor: pointer;
    font-weight: bold;
    color: #0090F9;
}


.div-board-content {
    display: flex;
    flex-direction: column;
    /* text 처리*/
    /* overflow: hidden; */
    text-overflow: ellipsis;
    white-space: nowrap;
}

.div-board-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-width: 800px; */
    width: 100%;
    border-collapse: collapse;
}

.div-refresh-area {
    display: flex;
    flex: 0.1;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.div-refresh-area:hover {
    cursor: pointer;
}

.a-board-content {
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
}

.a-board-content:hover {
    cursor: pointer;
}

/*
* writing page
*/
.div-writing-wrapper{
    display: flex;
    flex: 0.8;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}
.div-writing-content-wrapper{
    display : flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.div-writing-content-wrapper span{
    font-weight: bold;
}

.div-no-share {
    background-color: #DCDEE1;
    border-radius: 10px;
}

.div-share {
    background-color: greenyellow;
    border-radius: 10px;
}


/*
* View
*/
.div-writer-area-wrapper {
    display: flex;
    flex-direction: column;
}

/*
* Reply 
*/

.div-view-area-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.div-reply-content-wrapper {
    display : flex;
    border-bottom: 1px solid #DCDEE1;
}

.div-reply-content-wrapper span{
    font-size: x-small;
    margin-top: 7px;
    margin-left: 10px;
}