.div-board-content-wrapper {
    display: flex;
    border-top : 1px solid gray;
    border-bottom : 1px solid gray;
    align-items: center;
    padding: 5px;
    height: 110px;
    width : 70vw;
    max-width: 800px;
    min-width: 450px;
    
}

.div-reply {
    display : flex;
    justify-content: center;
    flex-direction: column;
    border : 1px solid gray;
    width: 75px;
    height: 75px;
    border-radius: 5px;
    text-align: center;
    font-size: small;
}

.div-write-info {
    display: flex;
    font-size: smaller;
}

.div-board-content {
    display: flex;
    flex-direction: column;
    /* text 처리*/
    /* overflow: hidden; */
    text-overflow: ellipsis;
    white-space: nowrap;
}

.div-board-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-width: 800px; */
    width: 100%;
    border-collapse: collapse;
}

.a-board-content {
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
}

.a-board-content:hover {
    cursor: pointer;
}

/*
* writing page
*/
.div-writing-content-wrapper{
    display : flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.div-writing-content-wrapper span{
    font-weight: bold;
}

/*
* View
*/
.div-writer-area-wrapper {
    display: flex;
    flex-direction: column;
}

/*
* Reply 
*/

.div-view-area-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.div-reply-content-wrapper {
    display : flex;
}

.div-reply-content-wrapper span{
    font-size: x-small;
    margin-top: 7px;
    margin-left: 10px;
}