.signUpContainer{
    display: flex;
    align-items: center;
    min-width: 450px;
}

.signUpForm {
    width: 30vw;
    height: 70vh;
    border: 1px solid gray;
    padding : 20px;
    min-width: 450px;
}

form .content {
    overflow-y: auto;
    height: 60vh;
}