
/*
*   Nav
*/
.div-user-nav {
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding : 10px;
    border-right: 1px solid #DCDEE1;
}

.div-user-nav button {
    background-color: inherit;
    text-align: start;
    transition: none !important;
}

.div-user-nav button:hover {
    background-color: #E5E7EB !important;
    border : none !important;
    text-align: start;
}

/*
*   Account
*/
.div-accountdelete-discription{
    display: flex;
    border-radius: 5px;
    border : 1px solid #DCDEE1;
    height: 50px;
    font-size: small;
    padding: 10px;
}

.div-accountinfo-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    height: 150px;
    padding : 25px;
    border-bottom: 1px solid #DCDEE1;
}

.div-accountinfo-wrapper input{
    border: 1px solid #DCDEE1;
    border-radius: 5px;
    height: 35px !important;
    width: 350px;
}

.div-accountinfo-wrapper input:focus{
    outline: 0.5px solid black;
}


/*
*   User Info
*/
.div-user-info-wrapper{
    width: 50vw;
    padding : 25px;
}

.div-user-info-input{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.div-user-info-input label{
    font-size: medium;
    font-weight: bold;
    margin-bottom: 10px;
}

.div-user-info-input input{
    border: 1px solid #DCDEE1;
    border-radius: 5px;
    height: 35px;
}

.div-user-info-input input:focus{
    outline: 0.5px solid black;
}
